@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//sass-lint:disable-all
.gitlab-content-container {
  padding-top: 20px !important;
}

@media (max-width: 991px) {
  img[src="/images/analysts/report-skeleton.png"] {
    display: none;
  }
}

.wave-row-content {
  position: relative;
}

.report-thumbnail:after {
  background: linear-gradient(180deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,1) 100%);
  border: 1px solid #dfdfdf;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
